/* Animation */
@keyframes arrows {
    from {
        padding: 0;
    }
    to {
        padding: 0 1rem;
    }
}

/* Github Link Configuration */
.github {
    display: block;
    font-style: normal;
    width: 100%;
    text-align: center;
}
.arrow-size {
    animation: arrows 1s linear infinite alternate;
}

/* Each Project Similar Configuration */
#otaku-paradise-website img, #otaku-paradise-app img, #object-orientated-software-design-finals img {
    display: block;
    width: 340px;
    margin: auto;
    object-fit: contain;
}

/* Otaku Paradise (Website) Configuration */
#otaku-paradise-website img {
    height: 420px;
}

/* Otaku Paradise (App) Configuration */
#otaku-paradise-app img {
    height: 550px;
}

/* Object Orientated Software Design Finals Configuration */
#object-orientated-software-design-finals img {
    height: 500px;
}

/* Tablet Configuration */
@media only screen and (min-width: 700px) {
    /* Each Project Similar Configuration */ 
    #otaku-paradise-website img, #otaku-paradise-app img, #object-orientated-software-design-finals img {
        width: 540px;
    }

    /* Otaku Paradise (Website) Configuration */
    #otaku-paradise-website img {
        height: 620px;
    }

    /* Otaku Paradise (App) Configuration */
    #otaku-paradise-app img {
        height: 750px;
    }

    /* Object Orientated Software Design Finals Configuration */
    #object-orientated-software-design-finals img {
        height: 700px;
    }
}