---
import Template from '../layouts/template.astro';
import '../styles/room.css';
---

<Template link1="/#status" link2="/" link3="/workshop" name1="Status" name2="Tavern" name3="Workshop" heading="Hobbies" subHeading="Kaleel's Room">
    <p>
        I am not an active person as most of my free time is spent online and indoors. That is 
        not to say that I don't go out at all. When I am inside the comforts of my walls 
        I tend to indulge in some otaku hobbies. <br>
        Those being:
        <li>Anime (Rarely Now)</li>
        <li>JPOP</li>
        <li>Korean Novels</li>
        <li>KPOP</li>
        <li>Manga</li>
        <li>Manhua</li>
        <li>Manhwa</li>
    </p>
    <p>
        As for those that are not Asian based, they are:
        <li>Binging My Life Away on Youtube Shorts</li>
        <li>Gaming (Apps, Emulated Games(GBA/DS))</li>
        <li>Texting People In Hope of a Response</li>
        <li>Sleeping (A lot)</li>
        <li>Vibing to Music</li>
        <li>Youtube Videos (Occasionally)</li>
    </p>

    <hr>

    <div id="video-game">
        <h2>0's & 1's Come To Life</h2>
        <h3 class="sub-heading">A New World, A New Adventure</h3>
        <p>
            I love games, but am not a big gamer. I spend more time watching others play than playing 
            myself. Growing up, I didn't have much in terms of technology. The only consoles I had was 
            a Nintendo DS, Nintendo 3DS and A New Nintendo 3DS. Yes, I have had computers or laptops, but 
            they were not strong enough to run the popular or more cpu and gpu extensive games at the 
            time.<br><br>

            My Current Equipment Loadout Is:

            <li>HP Laptop 15 - AMD Ryzen 3 3250U, 16GB RAM, 1TB Storage</li>
            <li>New Nintendo 3DS (Archived)</li>
            <li>Samsung Galaxy A32</li>
        </p>

        <hr>

        <h3>HP Laptop 15</h3>
        <h4>Game Catalogue</h4>
        <div class="image-center">
            <!-- <img src="/images/Rocket-League-Logo.jpg" alt="Rocket League logo"> -->
            <p class="null">N/A</p>
        </div>

        <hr>

        <h3>New Nintendo 3Ds</h3>
        <h4>Game Catalogue</h4>
        <div class="image-center">
            <img src="/images/Etrian-Odyssey-V-Logo.png" alt="Etrian Odyssey V">
            <img src="/images/Pokemon-Ultra-Moon-Logo.png" alt="Pokemon Ultra Moon">
        </div>

        <hr>

        <h3>Samsung Galaxy A32</h3>
        <h4>Game Catalogue</h4>
        <div class="image-center">
            <img src="/images/Brave-Nine-Logo.png" alt="Brave Nine Logo">
            <img src="/images/Brave-Nine-Story-Logo.jpg" alt="Brave Nine Story Logo">
            <img src="/images/COD-Mobile-Logo.jpg" alt="Call of Duty Mobile">
            <img src="/images/Drastic-Logo.png" alt="Drastc Logo">
            <img src="/images/My-Boy-Logo.png" alt="My Boy Logo">
        </div>

        <hr>

        <h3>Drastic</h3>
        <h4>Emulate Catalogue</h4>
        <div class="image-center">
            <img src="/images/Digimon-World-Dusk-Logo.jpg" alt="Digimon Workld Dusk">
            <img src="/images/Digimon-World-DS-Logo.jpg" alt="Digimon World DS">
            <img src="/images/Pokemon-Conquest-Logo.jpg" alt="Pokemon Conquest">
        </div>

        <hr>

        <h3>My Boy</h3>
        <h4>Emulate Catalogue</h4>
        <div class="image-center">
            <img src="/images/Pokemon-Leaf-Green-Logo.jpg" alt="Pokemon Leaf Green">
            <img src="/images/Sonic-Battle-Logo.webp" alt="Sonic Battle">
            <img src="/images/Summon-Night-Swordcraft-Story-Logo.jpg" alt="Summon Night: Swordcraft Story">
        </div>
    </div>

    <hr>

    <div id="animation">
        <h2>Who Needs Reality When There's 2D</h2>
        <h3 class="sub-heading">2D Brought to Life</h3>
        <p>
            Anime in its simplest terms is Japanese animations. With its Chinese and South Korean 
            counterparts being Donghua and Hanguk Aeni/Hanguk Aenimeisyeon. Many persons believe 
            that anime is for kids. And honestly, I can see where that thought may arise from. 
            After all some of the most popular or common-place anime in the western world are  
            <i>Bakugan, Pokémon</i> and <i>Yu-Gi-Oh</i>. But, contrary to popular believe they 
            are for everyone.There are genres like Ecchi where breasts can be seen if not censored 
            or Seinen which target audience is adults. There are also gruesome and gory anime like 
            Tokyo Ghoul and Parasyte. So, if you don't watch anime, I hope you don't just label 
            them children's shows or cartoons. Same for their comic counterpart. Well, that is 
            enough of my rant. Let us get on with the show.
            <br><br>
            Based on my rant, you can guess that I am an avid anime watcher. I have been watching 
            anime officially since 2014. Well, technically I started before that. I used to watch 
            <i>Bakugan, Beyblade, Dragon Ball, Pokémon, Sonic X</i> and <i>Yu-Gi-Oh</i> on tv without 
            knowing that they were anime. Ironically, the reason I started was due to a cousin who 
            does not watch or like anime suggesting me to watch the animations of the online games 
            I played when I was in primary school.
            <br><br>
            Seeing as I have been an otaku (anime nerd) for years, I wanted to keep track of my progress. 
            So, I started using an anime tracker in 2020. I started out with an Anime-Planet account, but 
            I switched to a Kitsu account in 2022. The reason being that it was linked to a manga 
            reading app called Tachiyomi. So, instead of going to the website every time and manually 
            update my progress, it updates automatically. I still use Anime-Planet to add new Korean 
            novels, manga, manhua and manhwa as not all of the ones I find are on Kitsu yet. I can 
            ask them to add them and provide them the info. But, that is work in all honesty.
            <br><br>
            My Anime Tracking accounts:
            <li><a href="https://www.anime-planet.com/users/KazKB" target="_blank">Anime-Planet</a></li>
            <li><a href="https://www.kitsu.io/users/KazKB" target="_blank">Kitsu</a></li>
        </p>

        <hr>

        <h3>My First Official Anime</h3>
        <br>
        <img src="/images/Girls-Bravo-Cover-Image.jpg" alt="Girls Bravo Cover Image">
        <br>
        <h4>Girls Bravo</h4>
        <br>
        <p>
            Synopsis: <br>                    
            Small for his age, Yukinari has been bullied and abused by girls all his life. Now in 
            high school, he has developed a rare condition: whenever girls touch him, or even come 
            close, he breaks out in hives. Imagine his surprise, when he is suddenly transported 
            to the city of Seiren on a mystic world invisibly orbiting the Earth, and populated 
            with vast numbers of women and very few men. Fortunately, he has a new friend, 
            Miharu-chan, whose touch inexplicably doesn't affect him.
            <br><br>
            
            Additional Info: <br>
            Number of Seasons: 2 <br>
            Date Aired: Jul 5, 2004 to Sep 27, 2004 (S1), Jan 27, 2005 to Apr 21, 2005 (S2) <br>
            Number of Episodes: 11 (S1), 13 (S2)
        </p>

        <hr>
        
        <h3>My Favs</h3>
        <br>
        <div id="fav-animation">
            <div>
                <img src="/images/Haiyuu-Cover-Image.jpg" alt="Haikyuu!! Cover Image">
                <br>
                <h4>Haikyu!!</h4>
            </div>
            <div>
                <img src="/images/Hai-To-Gensou-No-Grimgar-Cover-Image.jpg" alt="Hai to Gensou no Grimgar Cover Image">
                <br>
                <h4>Hai to Gensou no Grimgar</h4>
            </div>
            <div>
                <img src="/images/Log-Horizon-Cover-Image.jpg" alt="Log Horizon Cover Image">
                <br>
                <h4>Log Horizon</h4>
            </div>
            <div>
                <img src="/images/Nejimaki-Seirei-Senki-Tenkyou-No-Alderamin-Anime-Cover-Image.jpg" alt="Nejimaki Seirei Senki: Tenkyou no Alderamin Cover Image">
                <br>
                <h4>Nejimaki Seirei Senki: Tenkyou no Alderamin</h4>
            </div>
            <div>
                <img src="/images/Rokka-No-Yuusha-Cover-Image.jpg" alt="Rokka no Yuusha Cover Image">
                <br>
                <h4>Rokka no Yuusha</h4>
            </div>
            <div>
                <img src="/images/Seishun-Buta-Yarou-Wa-Bunny-Girl-Senpai-No-Yume-Wo-Minai-Cover-Image.jpg" alt="Seishun Buta Yarou wa Bunny Girl Senpai no Yume wo Minai Cover Image">
                <br>
                <h4>Seishun Buta Yarou wa Bunny Girl Senpai no Yume wo Minai</h4>
            </div>
            <div>
                <img src="/images/Witch-Craft-Works-Cover-Image.jpg" alt="Witch Craft Works Cover Image">
                <br>
                <h4>Witch Craft Works</h4>
            </div>
            <div>
                <img src="/images/Yahari-Ore-No-Seishun-Love-Comedy-Wa-Machigatteiru.-Cover-Image.jpg" alt="Yahari Ore no Seishun Love Comedy wa Machigatteiru. Cover Image">
                <br>
                <h4>Yahari Ore no Seishun Love Comedy wa Machigatteiru.</h4>
            </div>
        </div>
        
        <br>
        <p class="center-text">I recommed giving one of my favs a try</p>
    </div>

    <hr>

    <div id="written-media">
        <h2>Anime on Paper - Korean Novels, Light Novels, Manga, Manhua & Manhwa</h2>
        <h3 class="sub-heading">Ink Tells A Whole Story</h3>
        <p>
            Manga is the Japanese form of comics. With its Chinese and South Korean counterparts being 
            manhua and manhwa respectively. Manga unlike other forms of media is read right to left 
            and is in black and white. This can take some getting used to. But once you are accustomed 
            it does not phase you. Heck, you would find yourself reading reverse automatically. And 
            apparently manhua is the same. But, to be honest I read it left to right. Just start with the 
            hightest text bubble. And it works. Manhwa on the other hand is read left to right like 
            a regular comic. And both manhua and manhwa are colored unlike manga.
            <br>
            Other than comics, there are novels. The two types are Light Novels and Regular Novels. 
            Light Novels are the Japanese twist to a novel. It is a combination of a regular novel and 
            illustrations. What I mean is that throughout it there are single page illustrations on top 
            of well the multitude of words that make up the story. And you already know what a regular 
            novel is I am sure
        </p>

        <hr>

        <h3>My First Official Asian Comic</h3>
        <img src="/images/Ojojojo-Cover-Image.jpg" alt="Ojojojo Cover Image">
        <br>
        <h4>Ojojojo</h4>
        <br>
        <p>
            Synopsis: <br>                    
            jigokumeguri Haru is the heiress of one of the largest business empires in all of Japan. 
            She is not only rich, but also practically a celebrity. However, partly because of her 
            heritage and partly because of her arrogant and aloof behavior, she has always been 
            isolated from her peers and has never been able to make friends. Thus, she has—without 
            success so far—transferred from school to school to finally find a place where she would 
            be accepted.
            <br><br>
            This only begins to change when she meets her new classmate Kawayanagi Tsurezure, an 
            outcast weirdo that dresses in 20th century fashion, talks little and smiles even less. 
            Being both somewhat socially awkward, they thus begin an unexpected friendship.
            <br><br>
            
            Additional Info: <br>
            Date Published: Jun 18, 2012 to Apr 17, 2017 <br>
            Number of Chapters: 64 <br>
            Number of Volumes: 4
        </p>

        <hr>

        <h3>My First Official Asian Novel</h3>
        <img src="/images/Everyone-Else-Is-A-Returnee-Cover-Image.jpg" alt="Everyone Else is a Returnee Cover Image">
        <br>
        <h4>Everyone Else is a Returnee</h4>
        <br>
        <p>
            Synopsis: <br>                    
            In a primary school excursion he was left behind alone.
            <br><br>
            In a junior high school camp he was left behind alone.
            <br><br>
            In a high school field trip he was left behind alone.
            <br><br>
            In the end I became a uni student but so what? This time I was left behind from the entire human race!
            <br><br>
            While everyone left this world I was the only one to protect Earth!
            <br><br>
            A legend will start when the human race returns and a disaster strikes!
            <br><br>
            
            Additional Info: <br>
            Date Published: 2016 <br>
            Number of Chapters: 354
        </p>

        <hr>

        <h3>My Favs</h3>
        <br>
        <div id="fav-written-media">
            <div>
                <img src="/images/Dungeon-Seeker-Cover-Image.jpg" alt="Dungeon Seeker Cover Image">
                <br>
                <h4>Dungeon Seeker</h4>
            </div>
            <div>
                <img src="/images/Kuzumi-kun-Kuuki-Yometemasu-Ka-Cover-Image.jpg" alt="Kuzumi-kun, Kuuki Yometemasu ka? Cover Image">
                <br>
                <h4>Kuzumi-kun, Kuuki Yometemasu ka?</h4>
            </div>
            <div>
                <img src="/images/Nejimaki-Seirei-Senki-Tenkyou-No-Alderamin-Manga-Cover-Image.jpg" alt="Nejimaki Seirei Senki: Tenkyou no Alderamin Cover Image">
                <br>
                <h4>Nejimaki Seirei Senki: Tenkyou no Alderamin</h4>
            </div>
            <div>
                <img src="/images/Ore-Wo-Suki-Na-No-Wa-Omae-Dake-Ka -Yo-Cover-Image.jpg" alt="Ore wo Suki na no wa Omae dake ka yo Cover Image">
                <br>
                <h4>Ore wo Suki na no wa Omae dake ka yo</h4>
            </div>
            <div>
                <img src="/images/Ojojojo-Cover-Image.jpg" alt="Ojojojo Cover Image">
                <br>
                <h4>Ojojojo</h4>
            </div>
            <div>
                <img src="/images/Shinu-Hodo-Kimi-No-Shojo-Ga-Hoshii-Cover-Image.jpg" alt="Shinu Hodo Kimi no Shojo ga Hoshii Cover Image">
                <br>
                <h4>Shinu Hodo Kimi no Shojo ga Hoshii</h4>
            </div>
            <div>
                <img src="/images/Yakushoku-Distopiary-Cover-Image.jpg" alt="Yakushoku Distopiary Cover Image">
                <br>
                <h4>Yakushoku Distopiary</h4>
            </div>
        </div>
    </div>
</Template>