---
import Template from '../layouts/Template.astro';
import '../css/room.css';
import Media from '../components/Media.astro';
---

<Template link1="/#status" link2="/" link3="/workshop" name1="Status" name2="Tavern" name3="Workshop" heading="Hobbies" subHeading="Kaleel's Room" description="A look into Kaleel's Hobbies and Past Times." keyword="Status, Room, Anime, JPOP. Korean Novels, KPOP, Manga, Manhua, Manhwa, Kaleel Boston, Kaleel, Boston">
    <p>
        I am not an active person. Most of my free time is spent online and indoors. That is not to say that I don't go out at all. When I am inside the comfort of my walls  I tend to indulge in some otaku hobbies. <br>
        Those being:
        <li>Anime (Rarely Now)</li>
        <li>JPOP</li>
        <li>Korean Novels</li>
        <li>KPOP</li>
        <li>Manga</li>
        <li>Manhua</li>
        <li>Manhwa</li>
    </p>
    <p>
        As for those that are not Asian based, they are:
        <li>Binging My Life Away on Youtube Shorts</li>
        <li>Exercise (Bodyweight & Machine/Weights)</li>
        <li>Gaming (Apps, Emulated Games(GBA/DS))</li>
        <li>Sleeping (A lot)</li>
        <li>Vibing to Music</li>
        <li>Youtube Videos (Occasionally)</li>
    </p>

    <hr>

    <div>
        <p>
            What do you want to see first?<br>

            <li><a href="#exercise">Exercise</a></li>
            <li><a href="#video-games">Video Games</a></li>
            <li><a href="#animation">Anime</a></li>
            <li><a href="#written-media">Asian Comics & Novels</a></li>
        </p>
    </div>

    <hr>

    <div id="exercise">
        <h2>Fit Or Not To Be Fit</h2>
        <h3 class="sub-heading">Exercising: A Real Life Cheat</h3>
        <p>
            Have you ever struggled carrying groceries or tired jogging for 1 minute? Well, I have and it is saddening. To change this I would do push ups and squats when I was in Secondary School. and College I would be consistent for 2 - 3 months before stopping. There was a definite change in my physique in terms of looks, but I felt nothing for my strength and stamina. However, all that changed in 2023. A new year a new me. From January to February, I was doing a variety of push ups and squats or lunges with additions to ab exercises like crunches and bicycle crunches. But, I felt like I was lacking in the bicep department due only doing push ups. So, I decided to follow my cousin and join a gym in March of 2023. Funny thing is I joined for a pull up bar now I use the array of machines they have. And ever since then I have seen improvements in both my physical abilities and stamina. My confidence has been boosted and I proud of what I can do compared to before.<br><br>

            My workouts are currently split into 2 categories for both Upper Body and Lower Body. Idealy, I try to do 3 sets of 15 as I am more focus on endurance than strength. What do I do? Well let me show you.<br><br>
        </p>

        <p>Upper Body (Weighted):</p>
        <ul>
            <li>Bicep Curl - 7KG (10/15)</li>
            <li>Hammer Curl - 7KG (10/15)</li>
            <li>Row (One Hand) - 90LBS (10/15)</li>
            <li>Pulldown (One Hand) - 90LBS (10/15)</li>
            <br>
            <li>Overhead Press (One Hand) - 50LBS (10/15)</li>
            <li>Read Delt Fly (One Hand) - 50LBS (10/15)</li>
            <li>Chest Press (One Hand) - 60LBS (10/15)</li>
            <br>
            <li>Lateral Raise - 5KG (10/15)</li>
            <li>Arm Circle - 2KG (10/15)</li>
            <br>
            <li>Wrist Curls - 4KG (7/10)</li>
            <li>Reverse Wrist Curls - 4KG (7/10)</li>
        </ul>

        <br>

        <p>Upper Body (Bodyweight):</p>
        <ul>
            <li>Pull Up (5)</li>
            <li>Chin Up (5)</li>
            <li>Assited Neutral Pull Up - 15KG (5/7)</li>
            <li>Inverted Row (7/10)</li>
            <li>Dead Hang</li>
            <br>
            <li>Dips (5/7)</li>
            <li>Decline Push Up (7/10)</li>
            <li>Diamond Push Up (7/10)</li>
            <li>Wide Arm Push Up (7/10)</li>
            <li>Dead Hang</li>
        </ul>
        
        <br>

        <p>Lower Body (Weighted):</p>
        <ul>
            <li>Russian Twsit - 8KG (10/15)</li>
            <li>Bicycle Crunch - Body (15/20)</li>
            <li>Hanging Knee Raise - Body (15/20)</li>
            <br>
            <li>Back Extension - Body (10/15)</li>
            <br>
            <li>Leg Extension - 50LBS (10/15)</li>
            <li>Seated Leg Curl - 50LBS (10/15)</li>
            <li>Hip Abduction & Adduction - 70LBS (10/15)</li>
            <li>Leg Press (One Leg) - 90LBS (10/15)</li>
            <li>Leg Press Calf Raise - 130LBS/Seated Calf Raise - 20KG (10/15)</li>        
            <br>
            <li>Treadmill/Skip Rope</li>
        </ul>

        <br>

        <p>Lower Body (Bodyweight):</p>
        <ul>
            <li>Russian Twist (15/20)</li>
            <li>Bicycle Crunch (15/20)</li>
            <li>Hollow Body Hold (30sec/1min) - 1x</li>
            <li>Plank (30sec/1min) - 1x</li>
            <li>Side Plank (30sec/1min) - 1x</li>
            <li>Superman Hold (30sec/1min) - 1x</li>
            <br>
            <li>Lunge (10/15)</li>
            <li>Split Squat (10/15)</li>
            <li>Squat (50)</li>
            <li>Elevated Calf Raise (15)</li> 
        </ul>
    </div>

    <hr>

    <div id="video-games">
        <h2>0's & 1's Come To Life</h2>
        <h3 class="sub-heading">A New World, A New Adventure</h3>
        <p>
            I love games, but I am not a big gamer. I spend more time watching others play than playing myself. Growing up, I didn't have much in terms of gaming equipment. But that is not to say I did not have anything. I had was a Nintendo DS, Nintendo 3DS and A New Nintendo 3DS. At most I had 4 games for each console. I don't remember all that I have had. As for the games I didn't mention below, they were sold. Outside of consoles, I did have laptops. However, they were not strong enough to run the popular or more CPU and GPU extensive games at the time.<br><br>

            My Current Equipment Loadout Is:
            <li>HP Laptop 15 - AMD Ryzen 3 3250U, 16GB RAM, 1TB Storage</li>
            <li>New Nintendo 3DS (Archived)</li>
            <li>Samsung Galaxy A32</li>
        </p>

        <!-- <hr>

        <h3>HP Laptop 15</h3>
        <h4>Game Catalogue</h4>
        <div class="image-center">
            <img src="/images/Rocket-League-Logo.jpg" alt="Rocket League logo">
            <p class="null">N/A</p>
        </div> -->

        <hr>

        <h3>New Nintendo 3DS</h3>
        <h4>Game Catalogue</h4>
        <div class="image-center">
            <img src="/images/Etrian-Odyssey-V-Logo.png" alt="Etrian Odyssey V">
            <img src="/images/Pokemon-Ultra-Moon-Logo.png" alt="Pokemon Ultra Moon">
        </div>

        <hr>

        <h3>Samsung Galaxy A32</h3>
        <h4>Game Catalogue</h4>
        <div class="image-center">
            <img src="/images/Brave-Nine-Logo.png" alt="Brave Nine Logo">
            <img src="/images/Brave-Nine-Story-Logo.jpg" alt="Brave Nine Story Logo">
            <img src="/images/Drastic-Logo.png" alt="Drastc Logo">
            <img src="/images/My-Boy-Logo.png" alt="My Boy Logo">
        </div>

        <hr>

        <h3>Drastic</h3>
        <h4>Emulate Catalogue</h4>
        <div class="image-center">
            <img src="/images/Digimon-World-Dusk-Logo.jpg" alt="Digimon Workld Dusk">
            <img src="/images/Digimon-World-DS-Logo.jpg" alt="Digimon World DS">
            <img src="/images/Pokemon-Conquest-Logo.jpg" alt="Pokemon Conquest">
        </div>

        <hr>

        <h3>My Boy</h3>
        <h4>Emulate Catalogue</h4>
        <div class="image-center">
            <img src="/images/Pokemon-Leaf-Green-Logo.jpg" alt="Pokemon Leaf Green">
            <img src="/images/Sonic-Battle-Logo.webp" alt="Sonic Battle">
            <img src="/images/Summon-Night-Swordcraft-Story-Logo.jpg" alt="Summon Night: Swordcraft Story">
        </div>
    </div>

    <hr>

    <div id="animation">
        <h2>Who Needs Reality When There's 2D</h2>
        <h3 class="sub-heading">2D Brought to Life</h3>
        <p>
            Anime in its simplest terms is Japanese animations. With its Chinese and South Korean counterparts being Donghua and Hanguk Aeni/Hanguk Aenimeisyeon. Many persons believe that anime is for kids. And honestly, I can see where that thought may arise from. After all some of the most popular or common-place anime in the western world are <i>Bakugan, Pokémon</i> and <i>Yu-Gi-Oh</i>. But, contrary to popular belief, they are for everyone. After all there are genres like Ecchi where breasts can be seen if not censored or Seinen which target audience is adults. There are also gruesome and gory anime like Tokyo Ghoul and Parasyte. So, if you don't watch anime, I hope you don't just label them as children's shows or cartoons. Same for their comic counterpart. 
            <br><br>
            Based on my rant above, you can guess that I am an avid anime indulger. I have been watching anime officially since 2014. Well, technically I started before that. I used to watch <i>Bakugan, Beyblade, Dragon Ball, Pokémon, Sonic X</i> and <i>Yu-Gi-Oh</i> on tv without knowing that they were anime. And ironically, the reason I started was due to a cousin who does not watch or like anime suggesting me to watch the animations of the online games I played when I was in my last year of primary school. So, thanks to that cousin's suggestion I started my journey into the world of anime by randomly searching online. During my search I came across the goated anime streaming site called KissAnime. It allowed me to watch anime as streaming platforms didn't have access to Antigua at the time, or I couldn't pay the subscription fees.
            <br><br>
            Thanks to KissAnime I was able to keep track of my anime as well as stream episodes and movies. However, all that ended when it was shutdown in 2020 as it was an illegal site. Due to its shutdown, I lost all my progress. But, later in 2020, a friend recommeded a tracker called Anime-Planet to me. Since he was an otaku (anime nerd) like me I took his word and created an account. Creating that account was a great idea. Anime-Planet has an extensive database of animations and comics from China, Japan, and South Korea. And that is not all. It even has a little recommendations section passed on other users input, plus news on upcoming releases. So, based on my experience I recommend everyone who is interested in anime and the such to get a tracker whether it is Anilist, Anime-Planet, Kitsu, MangaUpdates, MyAnimeList, or etc.... Even if it is just regular tv shows and movies you can use IMDB. IMDB also has anime on it, but it is only for shows and movies (no comics).
            <br><br>
            <a href="https://www.anime-planet.com/users/KazKB" title="Kaleel's Anime-Planet Account" target="_blank">You can check out my Anime-Planet account here.</a>
        </p>

        <hr>

        <h3>My First Official Anime</h3>
        <br>
        <img src="/images/Girls-Bravo-Cover-Image.jpg" alt="Girls Bravo Cover Image">
        <h4>Girls Bravo</h4>
        <br>
        <p>
            Synopsis: <br>                    
            Small for his age, Yukinari has been bullied and abused by girls all his life. Now in high school, he has developed a rare condition: whenever girls touch him, or even come close, he breaks out in hives. Imagine his surprise, when he is suddenly transported to the city of Seiren on a mystic world invisibly orbiting the Earth, and populated with vast numbers of women and very few men. Fortunately, he has a new friend, 
            Miharu-chan, whose touch inexplicably doesn't affect him.
            <br><br>
            
            Additional Info: <br>
            Number of Seasons: 2 <br>
            Date Aired: Jul 5, 2004 to Sep 27, 2004 (S1), Jan 27, 2005 to Apr 21, 2005 (S2) <br>
            Number of Episodes: 11 (S1), 13 (S2)
        </p>

        <hr>
        
        <h3>My Favs</h3>
        <br>
        <div id="fav-animation">
            <Media src="Haiyuu-Cover-Image.jpg" name="Haikyu!!"/>
            <Media src="Hai-To-Gensou-No-Grimgar-Cover-Image.jpg" name="Hai to Gensou no Grimgar"/>
            <Media src="Goblin-Slayer-Cover-Image.jpg" name="Goblin Slayer"/>
            <Media src="Log-Horizon-Cover-Image.jpg" name="Log Horizon"/>
            <Media src="Nejimaki-Seirei-Senki-Tenkyou-No-Alderamin-Anime-Cover-Image.jpg" name="Nejimaki Seirei Senki: Tenkyou no Alderamin"/>
            <Media src="Rokka-No-Yuusha-Cover-Image.jpg" name="Rokka no Yuusha"/>
            <Media src="Seishun-Buta-Yarou-Wa-Bunny-Girl-Senpai-No-Yume-Wo-Minai-Cover-Image.jpg" name="Seishun Buta Yarou wa Bunny Girl Senpai no Yume wo Minai"/>
            <Media src="Witch-Craft-Works-Cover-Image.jpg" name="Witch Craft Works"/>
            <Media src="Yahari-Ore-No-Seishun-Love-Comedy-Wa-Machigatteiru.-Cover-Image.jpg" name="Yahari Ore no Seishun Love Comedy wa Machigatteiru."/>
        </div>
        <br>
        <p class="center-text">I recommed giving one of my favs a try</p>
    </div>

    <hr>

    <div id="written-media">
        <h2>Anime on Paper - Korean Novels, Light Novels, Manga, Manhua & Manhwa</h2>
        <h3 class="sub-heading">Ink Tells A Whole Story</h3>
        <p>
            Manga is the Japanese form of comics. With its Chinese and South Korean counterparts being manhua and manhwa respectively. Manga unlike other forms of media is read right to left and is in black and white. This can take some getting used to. But once you are accustomed it does not phase you. Heck, you would find yourself reading reverse automatically. And apparently manhua is the same. But, to be honest I read it left to right. I just start with the hightest text bubble. And it works. Manhwa on the other hand is read left to right like a regular comic. And both manhua and manhwa are colored unlike their counterpart manga.
            <br>
            Other than comics, there are novels. The two types are Light Novels and Regular Novels. Light Novels are the Japanese twist to a novel. It is a combination of a regular novel and illustrations. What I mean is that throughout it there are single page illustrations on top of well the multitude of words that make up the story. And you already know what a regular novel is.
        </p>

        <hr>

        <h3>My First Official Asian Comic</h3>
        <img src="/images/Ojojojo-Cover-Image.jpg" alt="Ojojojo Cover Image">
        <h4>Ojojojo</h4>
        <p>
            Synopsis: <br>                    
            Jigokumeguri Haru is the heiress of one of the largest business empires in all of Japan. She is not only rich, but also practically a celebrity. However, partly because of her heritage and partly because of her arrogant and aloof behavior, she has always been isolated from her peers and has never been able to make friends. Thus, she has—without success so far—transferred from school to school to finally find a place where she would be accepted.
            <br><br>
            This only begins to change when she meets her new classmate Kawayanagi Tsurezure, an outcast weirdo that dresses in 20th century fashion, talks little and smiles even less. Being both somewhat socially awkward, they thus begin an unexpected friendship.
            <br><br>
            
            Additional Info: <br>
            Date Published: Jun 18, 2012 to Apr 17, 2017 <br>
            Number of Chapters: 64 <br>
            Number of Volumes: 4
        </p>

        <hr>

        <h3>My First Official Asian Novel</h3>
        <br>
        <img src="/images/Everyone-Else-Is-A-Returnee-Cover-Image.jpg" alt="Everyone Else is a Returnee Cover Image">
        <h4>Everyone Else is a Returnee</h4>
        <br>
        <p>
            Synopsis: <br>                    
            Yu Illhan was always the one left behind. Left out of cliques in school. Left out of social invitations. Just...always left out. Except now he's been left behind for real. When Earth's future is threatened, Yu Illhan stays behind while the rest of the population flees to other planets for safety. It's up to Yu Illhan to save our planet before it's too late!
            <br><br>
            
            Additional Info: <br>
            Date Published: 2016 <br>
            Number of Chapters: 354
        </p>

        <hr>

        <h3>My Favs</h3>
        <br>
        <div id="fav-written-media">
            <Media src="Dungeon-Seeker-Cover-Image.jpg" name="Dungeon Seeker"/>
            <Media src="Kuzumi-kun-Kuuki-Yometemasu-Ka-Cover-Image.jpg" name="Kuzumi-kun, Kuuki Yometemasu ka?"/>
            <Media src="Nejimaki-Seirei-Senki-Tenkyou-No-Alderamin-Manga-Cover-Image.jpg" name="Nejimaki Seirei Senki: Tenkyou no Alderamin"/>
            <Media src="Ore-Wo-Suki-Na-No-Wa-Omae-Dake-Ka -Yo-Cover-Image.jpg" name="Ore wo Suki na no wa Omae dake ka yo"/>
            <Media src="Ojojojo-Cover-Image.jpg" name="Ojojojo"/>
            <Media src="Shinu-Hodo-Kimi-No-Shojo-Ga-Hoshii-Cover-Image.jpg" name="Shinu Hodo Kimi no Shojo ga Hoshii"/>
            <Media src="Yakushoku-Distopiary-Cover-Image.jpg" name="Yakushoku Distopiary"/>
        </div>
        <br>
        <p class="center-text">Once again, I recommed giving one of my favs a try</p>
    </div>
</Template>