---
import Template from '../layouts/Template.astro';
import '../css/workshop.css';
---

<Template link1="/" link2="/hobbies" name1="Profile" name2="Hobbies" heading="Workshop" description="A list of all of Kaleel's works as well as their github links." keyword="Workshop, Otaku Paradise, Object Oriented Software Development, Digital Language, Progress">
    <div class="workshop-item" id="otaku-paradise-website">
        <h2>Otaku Paradise (Website)</h2>
        <p>
            Otaku Paradise is a basic ecommerce website that specialises in selling anime merchandise. Users are not able to actually purchase any merchandise. The sites aim is to demonstrate the basic skills that were taught in an introductory class for web development. So, the site is more visual than practical. Otaku Paradise was worked on for two iterations. The first iteration was originally a pure HTML, CSS and JavaScript project for an introductory web development course done as a team as shown on the About Us page. While the second iteration was done solo with PHP added to it. The PHP was to allow login and sign up (profile), reviews (comments) and a cart to be functional rather than just visual. The relevant data were saved to CSV files or session variables.
            <br><br>
            Languages Used:
            <li>CSS</li>
            <li>HTML</li>
            <li>JavaScript</li>
            <li>PHP</li>
        </p>
        <br>
        <p>
            Features of the Website:
            <li>Assortment of Items (One Per Category)</li>
            <li>Cart - One Item At A Time</li>
            <li>Email System - Uses Only Valid Emails to Send Emails To Me If I Have Accept From Secure Emails On</li>
            <li>Login/Sign-Up (Profile)</li>
            <li>Reviews For Items</li>
        </p>
        <br>
        <a class="github" href="https://github.com/KazKB/Otaku-Paradise-WEBSITE-" title="Otaku Paradise Website" target="_blank"><span class="arrow-size">&lt; &#45;</span>&nbsp;Github Repository Here&nbsp;<span class="arrow-size">&#45; &gt;</span></a>
    </div>

    <hr>

    <div class="workshop-item" id="otaku-paradise-app">
        <h2>Otaku Paradise (App)</h2>
        <p>
            The app version of the previous project, Otaku Paradise (Website). This was for an introductory mobile development course I did. Again, it was a solo run. It has some practical parts such as a working cart and login. But that is it.
            <br><br>
            Languages Used:
            <li>Java</li>
        </p>
        <br>
        <p>
            Features of the App:
            <li>Assortment of Items (One Per Category)</li>
            <li>Cart - One Item At A Time</li>
            <li>Login/Sign-Up (Profile)</li>
        </p>
        <br>
        <a class="github" href="https://github.com/KazKB/Otaku-Paradise-APP-" title="Otaku Paradise Mobile Application" target="_blank"><span class="arrow-size">&lt; &#45;</span>&nbsp;Github Repository Here&nbsp;<span class="arrow-size">&#45; &gt;</span></a>
    </div>

    <hr>

    <div class="workshop-item" id="object-orientated-software-design-finals">
        <h2>Object Orientated Software Design Finals</h2>
        <p>
            A drink stock manager plus POS system command line interface java program. It allows the user to register as either an admin or regular user. Depending on the level chosen, the user will have access to editing suppliers, customers and stock information. Other than that, depending on the level access, the user can add suppliers, customers stock of different categories, remove them, edit them, buy from suppliers, sell to customers and edit the user's information.
            <br><br>
            Languages Used:
            <li>Java</li>
        </p>
        <br>
        <p>
            Features of the Program:
            <li>Buy from Supplier</li>
            <li>Check Wallet & Profit and Loss</li>
            <li>Create Supplier/Customer/Stock</li>
            <li>Edit Supplier/Customer/Stock</li>
            <li>Manage Stock Lists</li>
            <li>Register/Login</li>
            <li>Sell to Customer</li>
        </p>
        <br>
        <a class="github" href="https://github.com/KazKB/OOSD-Finals" title="Object Oriented Software Design Finals Project" target="_blank"><span class="arrow-size">&lt; &#45;</span>&nbsp;Github Repository Here&nbsp;<span class="arrow-size">&#45; &gt;</span></a>
    </div>

    <hr>

   <!--<div class="workshop-item" id="digital-language">
        <h2>Digital Language</h2>
        <p>
            Brief notes on the different aspects of Computer Science for my friends and I. <br>
            <a href="https://digital-language.netlify.app">Link to the website</a>
            <br><br>
            Languages Used:
            <li>Astro</li>
            <li>CSS</li>
            <li>HTML</li>
            <li>JavaScript</li>
            <li>Markdown</li>
        </p>
        <br>
        <a class="github" href="https://github.com/KazKB/Digital-Language" title="Digital Language" target="_blank"><span class="arrow-size">&lt; &#45;</span>&nbsp;Github Repository Here&nbsp;<span class="arrow-size">&#45; &gt;</span></a>
    </div>-->
</Template>
