---

---

<footer>
    <div>
        <p>Contact Me At:</p> 
        <li id="discord">Discord: KazKB#3454</li>
        <li id="email">Email: <a href="mailto: kaleelboston@gmail.com">kaleelboston@gmail.com</a></li>
        <li id="phone">Phone: <a href="tel: +44 7308 558870">+44 7308 558870</a></li>
    </div>
    
    <div>
        <p>
            Current Residence:<br>
            12 Buckingham Road,<br>
            London,<br>
            England
        </p>
    </div>
</footer>