---
const {heading, description} = Astro.props;
---

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{heading}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/icons/tavern-sign-icon.svg" type="image/x-icon">
</head>