/* Animation */
@keyframes heading {
    from {
        color: white;
    }

    to {
        color: var(--purple-2);
    }
}

/* Variables */
:root {
    /* Colors */
    --grey: #c0c0c0;
    --dark-grey: #858585;
    --black: #101010;
    /* --purple: #8212c2; */
    --purple: #af3cf1; 
    --purple-2: #8212c2;
    --purple-3: #4600DB;

    /* Fonts */
    --title: 26px;
    --heading: 22px;
    --sub-heading: 18px;
    --sub-heading-2: 15px;
    --text: 12px;

    /* Sizes */
    --icon-background: 24px;
    --mini-border: 0.1rem;
    --mid-border: 0.3rem;
    --large-border: 1rem;

    /* Background Related */
    --background-orientation-left: no-repeat left;
    --background-orientation-right: no-repeat right;
}

/* Custom Font */
@font-face {
    font-family: "RPG-Font";
    src: url(/font/EightBitDragon-anqx.ttf) format("opentype");
}

/* Default Element Tags */
body {
    background-color: var(--black);
    color: white;
    font-family: "RPG-Font";
    text-transform: uppercase;
}
a {
    color: white;
    text-decoration: none;
    transition: 1s;
}
li {    
    list-style: none;
    margin-bottom: 0.5rem;
}
hr {
    border-width: var(--mini-border);
    border-color: var(--grey);
}
h1 {
    font-size: var(--title);
    margin-bottom: 0.5em;
}
h2 {
    font-size: var(--heading);
}
h3 {
    font-size: var(--sub-heading);
}
h4 {
    font-size: var(--sub-heading-2);
} 
p, a, li {
    font-size: var(--text);
}
h1, h2, h3, h4 {
    text-align: center;
    margin-bottom: 0.5rem;
}
h1, h2 {
    line-height: 1.7rem;
}
h3, h4, p, li {
    line-height: 1.5rem;
}

/* Header & Footer Similarities */
header, footer {
    color: var(--black);
}

header a, footer a {
    color: var(--black);
}

/* Header Configuration */
header {
    background-image: linear-gradient( var(--dark-grey), var(--black));
    
}
header nav {
    display: flex;
    justify-content: center;
}
header a {
    padding: 0.7rem 0.5rem;
    transition: 5s;
}
header a:hover {
    text-decoration: underline;
    text-decoration-color: var(--black);
    text-decoration-thickness: 3px;
}

#time, #date {
    display: none;
    font-weight: bold;
}

/* Main Configuration */
main li {
    padding-top: 0.15rem;
    padding-left: 2rem;
    background: url(/icons/plus-icon.png) var(--background-orientation-left);
    background-size: 15px;
}
main a:hover, main li {
    color: var(--purple);
}
#center-div {
    padding: 1rem;
    max-width: 50ch;
    margin: auto;
    border-left: var(--mini-border) solid var(--grey);
    border-right: var(--mini-border) solid var(--grey);
    background-image: url(/icons/square-icon.png);
    background-size: 10px;
}
#heading {
    text-align: center;
    background: url(/icons/purple-heart.png) var(--background-orientation-left), url(/icons/purple-heart-reversed.png) var(--background-orientation-right);
    background-size: 30px;
    animation: heading 1.5s linear infinite alternate;
}
.center-text {
    text-align: center;
}
.sub-heading {
    text-align: left; 
    margin-top: 1rem;
}
.arrow-size {
    font-size: 18px;
}

/* Footer Configuration */
footer {
    background-image: linear-gradient( var(--black), var(--dark-grey));
    padding: 1rem;
    padding-top: 3rem;
}
footer a, footer li, footer p {
    font-weight: bold;
}
footer div:first-child {
    margin-bottom: 1.5rem;
}
footer li {
    padding-top: 0.1rem;
    padding-left: 2rem;
}
#discord {
    background: url(/icons/discord-icon.png) var(--background-orientation-left);
}
#email {
    background: url(/icons/email-icon.png) var(--background-orientation-left);
}
#phone {
    background: url(/icons/phone-icon.png) var(--background-orientation-left);
    background-size: 20px;
    margin-left: 0.2rem;
    padding-left: 1.8rem;
}
#discord, #email {
    background-size: var(--icon-background);
}

/* Tablet Screen Configuration */
@media only screen and (min-width: 700px) {
    /* Header's Time & Date Configuration */
    #time, #date {
        display: block;
        --text: 12px;
        color: var(--black);
        width: max-content;
        padding-top: 1.1rem;
    }
    #time {
        margin-right: 0.7rem;
    }
    #date {
        margin-left: 0.7rem;
    }

    /* Footer Configuration */
    footer {
        display: flex;
        justify-content: center;
        column-gap: 12rem;
    }
    footer div {
        height: max-content;
    }
}

/* Laptop Screen Configuration */
@media only screen and (min-width: 1000px) { 
    /* Main Configuration */
    #center-div {
        max-width: 70ch;
    }

    /* Footer Configuration */
    footer {
        column-gap: 25rem;
    }
}