/* Variables */
:root {
    /* Colors */
    --grey: #242424;
    --grey-2: #858585;
    --black: #010101;
    --purple: #0203e2;

    /* Fonts */
    --text: 12px;

    /* Sizes */
    --mini: 0.1rem;
    --mid: 0.3rem;

    /* Background Related */
    --background-orientation-left: no-repeat left;
    --background-orientation-right: no-repeat right;
}

/* Custom Font */
@font-face {
    font-family: "RPG-Font";
    src: url(/font/EightBitDragon-anqx.ttf) format("opentype");
}

/* Scroll Bar Configuration */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #101010;
}
::-webkit-scrollbar-thumb {
    background-color: var(--grey-2);
    height: 70px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--purple);
}

/* Element Configuration */
body {
    background-color: var(--grey);
    color: #fff;
    font-family: "RPG-Font";
    margin: 0; /* Astro Adds Margin To Body */
    letter-spacing: 0.1rem;
}
abbr {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1.5px;
}
a {
    color: var(--white);
    text-decoration: none;
}
li {    
    list-style: none;
    margin-bottom: 0.5rem;
    background: url(/icons/plus-icon.png) var(--background-orientation-left);
    background-size: 17px;
    padding-top: 0.1rem;
    padding-left: 1.5rem;
}
ul {
    margin: 0;
    padding: 0;
}
hr {
    border: var(--mini) inset var(--grey-2);
}
h1 {
    font-size: 26px;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 15px;
} 
p, a, li {
    font-size: var(--text);
}
h1, h2, h3, h4 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: normal;
}
h1, h2, h3, h4, p, a, li {
    line-height: 1.5rem;
}

/* Header & Footer Similarities */
header, footer, header a, footer a {
    color: var(--black);
}

/* Laptop Screen Configuration */
@media only screen and (min-width: 1000px) { 
    a {
        transition: 1s;
    }
}