/* Image Configuration */
img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto; /* For Those Outside Of The Image-Center Class */
    border-radius: 0.5rem;
    border: var(--mid) groove var(--purple);
    object-fit: contain; /* Prevents Images From Being Stretched & Fit Without Being Resized */
    background-color: white;
}
.image-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: center;
}

/* Null Configuration */
.null {
    padding: 50px 40px;
    border-radius: 0.5rem;
    border: var(--mid) double var(--purple);
    background-color: white;
    color: var(--purple);
    font-size: 30px;
    margin: auto;
}

/* Animation & Written Media Configuration */
#animation img, #written-media img {
    width: 130px;
    height: max-content; /* Images Have Same Dimensions, So It Scales With One Dimension Being Edited */
}

/* Fav Animation  & Written Media Configuration */
#fav-animation, #fav-written-media {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
#fav-animation div, #fav-written-media div {
    width: 150px;
    height: max-content;/* Images Have Same Dimensions, So It Scales With One Dimension Being Edited */
}

/* Tablet Screen Configuration */
@media only screen and (min-width: 700px) {
    /* Image Configuration */
    img {
        width: 250px;
        height: 250px;
    }
    .image-center {
        row-gap: 2rem;
    }

    /* Null Configuration */
    .null {
        padding: 100px 90px;
    }

    /* Animation & Written Media Configuration */
    #animation img, #written-media img {
        width: 200px;
    }
    /* Fav Animation  & Written Media  Configuration */
    #fav-animation, #fav-written-media {
        gap: 2rem;
    }
    #fav-animation div, #fav-written-media div {
        width: 250px;
    }
}

/* Laptop Screen Configuration */
@media only screen and (min-width: 1000px) {
    /* Image Configuration */
    img {
        width: 300px;
        height: 300px;
    }
    .image-center {
        column-gap: 3rem;
    }

    /* Null Configuration */
    .null {
        padding: 130px 120px;
    }

    /* Animation & Written Media Configuration */
    #animation img, #written-media img {
        width: 250px;
        height: max-content;
    }
    /* Fav Animation & Written Media  Configuration */
    #fav-animation, #fav-written-media {
        column-gap: 5rem;
    }
    #fav-animation div, #fav-written-media div {
        width: 300px;
    }
}