/* Main Configuration */
main {
    padding: 1rem;
    margin: auto;
    border-left: var(--mini) solid var(--grey-2);
    border-right: var(--mini) solid var(--grey-2);
}
main h2, .sub-heading, main h3, main h4 {
    color: var(--white);
    letter-spacing: 0.2rem;
}
main p {
    letter-spacing: 0.05rem;
}
main a:hover {
    color: var(--purple);
}
#heading {
    margin-top: 0.5rem;
    color: var(--white);
}
.center-text {
    text-align: center;
}
.sub-heading {
    text-align: left; 
    margin-top: 1rem;
}
.arrow-size {
    font-size: 18px;
}

/* Laptop Screen Configuration */
@media only screen and (min-width: 1000px) { 
    main {
        max-width: 70ch;
    }
}