/* Image Configuration */
img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: var(--mid-border);
    border: var(--mid-border) groove var(--purple);
}

/* Main Configuration */
main h4 {
    text-align: left;
}

/* Profile Card Configuration */
#profile-card {
    padding-bottom: 0.1rem;
}
#profile-card p {
    text-align: center;
}

/* Tech Stack Configuration */
#tech-stack {
    margin-bottom: 1rem;
}
#tech-stack-levels {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#tech-stack-levels p {
    margin-top: 0.5rem;
}
#beginner-level, #intermediate-level, #advanced-level {
    padding: 7.5px 15px; 
    border-radius: 5rem;
}
#beginner-level {
    background-color: rgba(0, 200, 0, 0.5);
}
#intermediate-level {
    background-color: rgba(0, 0, 200, 0.5);
}
#advanced-level {
    background-color: rgba(200, 0, 0, 0.5);
}
#tech-stack-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
#tech-stack-items a {
    text-decoration: underline;
}
.tech-stack-item {
    text-align: center;
    width: 15ch;
    border: var(--mini-border) solid var(--grey-2);
    border-radius: var(--mid-border);
}
.beginner {
    background-color: rgba(0, 100, 0, 0.5);
}
.intermediate {
    background-color: rgba(0, 0, 100, 0.5);
}
.advanced {
    background-color: rgba(100, 0, 0, 0.5);
}
.description {
    display: none;
    margin-top: 0.5rem;
}

/* Education & Work Experience Configuration */
#education h4:not(first-child) {
    margin-top: 1.5rem;
}
#education p, #work-experience p {
    margin: 1rem 0 0.5rem 0;
}
#education hr, #work-experience hr {
    border-width: 0.001rem;
}

/* Laptop Screen Configuration */
@media only screen and (min-width: 1000px) {
    /* Image Configuration */
    img {
        width: 300px;
        height: 300px;
    }

    /* Tech Stack Configuration */
    .tech-stack-item:hover {
        border-style: groove;
        border-width: var(--mid-border);
        cursor: pointer;
        position: relative;
        top: -0.2rem; /* To Prevent The Tech Stack Item From Moving When Border Style Is Changed */
    }
}