/* Animation */
@keyframes arrows {
    from {
        padding: 0;
    }
    to {
        padding: 0 1rem;
    }
}

/* Github Link Configuration */
.github {
    display: block;
    font-style: normal;
    width: 100%;
    text-align: center;
    color: var(--purple);
}
.arrow-size {
    animation: arrows 1s linear infinite alternate;
    padding: 0.5rem;
    font-size: var(--text);
}
