/* Animation */
@keyframes arrows {
    from {
        padding: 0;
    }
    to {
        padding: 0 1rem;
    }
}

/* Github Link Configuration */
.github {
    display: block;
    font-style: normal;
    width: 100%;
    text-align: center;
}
.arrow-size {
    animation: arrows 1s linear infinite alternate;
    padding: 0.5rem;
    font-size: var(--text);
}

/* Image Configuration */
.workshop-item img {
    display: block;
    width: 320px;
    margin: auto;
    object-fit: contain;
}

/* Progress Configuration */
#progress img:first-of-type {
    height: 200px;
}
#progress img:last-of-type {
    height: 300px;
}

/* Tablet Configuration */
@media only screen and (min-width: 700px) {
    /* Image Configuration */ 
    .workshop-item img {
        width: 540px;
    }
    
    /* Progress Configuration */
    #progress img:first-of-type {
        height: 300px;
    }
    #progress img:last-of-type {
        height: 500px;
    }
}